@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/*ul li { list-slyle: none; }*/
img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.page {
  min-width: 320px;
  background-color: #151313;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  color: #A07B50;
  text-align: center;
}

.container {
  padding: 0 15px;
}

.header {
  background-color: #181617;
  background-image: url("../images/header-cat-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  font-weight: 400;
}

.header .header__container {
  margin: 0 auto;
  padding: 0 40px;
  min-width: 240px;
}

.header .header__wrapper {
  padding-top: 28px;
  padding-bottom: 276px;
}

.header .header__city {
  margin-top: 53px;
}

.header .header__title {
  margin-top: 6px;
  margin-bottom: 17px;
  font-size: 36px;
  line-height: 42px;
}

.header .header__btn {
  margin-top: 35px;
}

.title {
  font-family: 'Yeseva One', cursive;
  font-weight: normal;
  color: #ffffff;
}

.btn {
  display: inline-block;
  min-width: 141px;
  min-height: 40px;
  padding: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
}

.btn_ghost {
  border: 0.5px solid #A07B50;
  text-decoration: none;
  color: #ffffff;
}

.section__wrapper {
  padding-top: 54px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_light {
  background-color: #1F1C1D;
}

.section__title {
  font-size: 28px;
  line-height: 32px;
  margin: 0 auto;
}

.section__description {
  margin-top: 24px;
  margin: 24px auto 0;
}

.pets {
  padding-bottom: 0;
}

.pets .pets__menu {
  margin-top: 31px;
  max-width: 80%;
}

.pets .pet-section__btn {
  margin-top: 40px;
}

.pets .pets__slider {
  margin-top: 15px;
}

.pets .pets__slide {
  width: 80.689%;
  height: 83.125vw;
}

.pets .pets__btn-prev,
.pets .pets__btn-next {
  top: 50.5%;
}

.pets .pets__btn-prev {
  left: -1px;
}

.pets .pets__btn-next {
  right: -1px;
}

.menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 234px;
}

.menu .menu__link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.2);
}

.menu .menu__link_active {
  color: white;
}

.slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.slider__slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
}

.slider__image {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  overflow: hidden;
}

.slider__btn {
  z-index: 10;
  background-color: transparent;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  width: 10px;
  height: 20px;
}

.slider__btn_prev,
.slider__btn_next {
  position: absolute;
  display: block;
}

.slider__btn_prev {
  left: -1px;
  background-image: url("../images/svg/arrow-prev.svg");
}

.slider__btn_next {
  right: -1px;
  background-image: url("../images/svg/arrow-next.svg");
}

.breed-features .breed-features__description {
  margin-bottom: 26px;
  width: 96%;
}

.breed-features .breed-features__image {
  position: relative;
  z-index: 1;
  width: 267px;
  margin: 0 auto;
  margin-bottom: 49px;
}

.breed-features .breed-features__image > img {
  max-width: 100%;
  height: auto;
}

.breed-features .breed-features__image::before {
  content: "";
  position: absolute;
  z-index: -2;
  top: 50px;
  left: 19px;
  width: 230px;
  height: 230px;
  background-color: #151313;
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.breed-features .breed-features__image::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  border: 0.5px solid #A07B50;
  left: -7px;
  top: 25px;
}

.features-list {
  list-style: none;
}

.features-list .features-list__item {
  position: relative;
  margin: 0 18px 22px;
  text-align: left;
  color: white;
}

.features-list .features-list__item::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -18px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #A07B50;
}

.features-list .features-list__item:last-child {
  margin-bottom: 0;
}

.features-list .features-list__item:nth-child(2n) {
  width: 165px;
}

.advantages .advantages__title {
  max-width: 230px;
}

.advantages .advantages__description {
  margin-bottom: 36px;
}

.advantages .advantages__icon-consultancy {
  margin-top: 48px;
}

.advantages-list {
  list-style: none;
}

.advantages-list__item {
  margin-bottom: 30px;
  min-height: 248px;
  background-color: #1F1C1D;
  border: 15px solid #1F1C1D;
  text-align: center;
}

.advantages-list__link {
  color: white;
}

.advantages-list__item_active {
  background-color: #A07B50;
}

.advantages-list__icon {
  margin-top: 41px;
  margin-bottom: 11px;
}

.advantages-list__text {
  width: 80%;
  margin: 0 auto;
}

.care {
  background-image: url("../images/care-section-mobile@2x.png");
  background-size: cover;
}

.care .care__title {
  width: 80%;
  margin-bottom: 33px;
}

.care .care-list {
  list-style: none;
}

.care .care-list__link {
  position: relative;
  display: block;
  margin-bottom: 30px;
  border: 0.5px solid #A07B50;
  padding: 20px 18% 21px 25px;
  text-align: left;
  background: rgba(0, 0, 0, 0.3);
}

.care .care-list__link::after {
  content: "";
  position: absolute;
  display: block;
  top: 0px;
  right: 0px;
  width: 15.8%;
  height: 100%;
  background-color: #A07B50;
  border-left: 1px solid #a07b50;
  background-image: url("../images/svg/arrowDetails.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.care .care-list__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 12px;
  color: #A07B50;
}

.care .care-list__content {
  color: white;
}

.slide-description__title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.slide-description__content {
  color: rgba(255, 255, 255, 0.72);
}

.team .team__description {
  width: 90%;
}

.team .team__slider {
  margin-top: 30px;
  position: relative;
}

.team .team__slide {
  width: 50%;
  height: 44vw;
}

.team .team__btn-prev,
.team .team__btn-next {
  top: 42.5%;
}

.team .team__btn-prev {
  left: 11.712vw;
}

.team .team__btn-next {
  right: 11.712vw;
}

.team .team__item_wrapper {
  margin-top: -65px;
  padding-top: 65px;
  padding-bottom: 15px;
  background-color: #1F1C1D;
}

.team .team__item-title {
  margin-top: 13px;
  margin-bottom: 4px;
  font-weight: bold;
}

.team .team__item-jobTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 135.94%;
}

.team .team__item-content {
  margin-top: 17px;
  padding: 0 11px;
  color: rgba(255, 255, 255, 0.72);
}

.team .team__social {
  margin-top: 24px;
}

.team .team__icon {
  fill: white;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
  list-style: none;
}

.social .social__item {
  display: inline-block;
  min-width: 18px;
  margin-right: 10px;
}

.social .social__item .social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social .social__item .social__link span {
  font-size: 0;
}

.social:last-child {
  margin-right: 0;
}

.faq .faq__description {
  max-width: 190px;
}

.faq .faq__list {
  margin-top: 36px;
}

.faq .faq__list .faq__item {
  margin-bottom: 30px;
}

.faq .faq__list .faq__item:last-of-type {
  margin-bottom: 0px;
}

.faq .faq__question {
  position: relative;
  display: block;
  font-weight: bold;
  padding: 10px 17px 11px 15px;
}

.faq .faq__question::-webkit-details-marker {
  display: none;
}

.faq .faq__question::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 14.7%;
  height: 100%;
  background-image: url("../images/svg/closedQuestion.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  border-left: 0.5px solid #A07B50;
}

.faq .faq__question_open::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 14.7%;
  height: 100%;
  background-color: #A07B50;
  background-image: url("../images/svg/openedQuestion.svg");
}

.faq .faq__question-text {
  max-width: 90%;
}

.faq .faq__question,
.faq .faq__answer {
  border: 0.5px solid #A07B50;
  color: #DDD0C3;
  text-align: left;
}

.faq .faq__answer {
  border-top: none;
  padding: 10px 17px 12px 15px;
}

.faq .faq__paragraph {
  margin-bottom: 15px;
}

.faq .faq__paragraph:last-of-type {
  margin-bottom: 0;
}

.reviews .reviews__wrapper {
  padding-top: 0;
}

.reviews .reviews__slider {
  margin-top: 53px;
  position: relative;
}

.reviews .reviews__slide {
  width: 100%;
  max-width: 75.625vw;
}

.reviews .reviews__item_wrapper {
  padding: 85px 30px 40px;
  margin-top: -85px;
  background-color: #181617;
}

.reviews .reviews__item-title {
  margin-top: 31px;
  color: white;
}

.reviews .reviews__item-content {
  margin-top: 17px;
}

.reviews .reviews__btn-next {
  right: -25px;
}

.reviews .reviews__btn-prev {
  left: -25px;
}

.reviews .reviews__footer {
  margin: 22px auto 0;
}

.reviews .reviews__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews .reviews__date {
  display: inline-block;
  margin-right: 39px;
  font-size: 12px;
  line-height: 2.5;
}

.reviews .reviews__social {
  display: inline-block;
}

.reviews .reviews__social-item {
  margin-right: 12px;
}

.reviews .reviews__social-item:last-of-type {
  margin-right: 0;
}

.reviews .reviews__social-link {
  border: 0.5px solid rgba(160, 123, 80, 0.27);
  width: 28px;
  height: 28px;
}

.reviews .reviews__icon {
  fill: #a07b50;
  margin: 0 auto;
}

.footer {
  padding: 35px 28px;
}

.footer .footer__address {
  margin-bottom: 11px;
  color: #D6CCC2;
}

.footer .footer__phone {
  color: #FDF2E6;
}

.footer .footer__social {
  margin-top: 18px;
  margin-bottom: 23px;
}

.footer .footer__icon {
  fill: #a07b50;
}

.footer .footer__social-item {
  margin-right: 20px;
}

.footer .footer__social-item:last-of-type {
  margin-right: 0;
}
/*# sourceMappingURL=style.css.map */