@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/*ul li { list-slyle: none; }*/
img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.hide {
  display: none;
}

.show {
  display: block;
}

h1,
h2,
h3 {
  margin: 0;
}

.page {
  min-width: 320px;
  background-color: #151313;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #A07B50;
  text-align: center;
}

@media (max-width: 767px) {
  .page {
    font-size: 14px;
    line-height: 140%;
  }
}

@media (min-width: 768px) {
  .page {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 15px;
  }
}

@media (min-width: 768px) {
  .container {
    margin: 0 auto;
    width: 100%;
    padding: 0 27px;
  }
}

.header {
  width: 100%;
  background-color: #181617;
  background-image: url("../images/header-cat-mobile@2x.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  font-weight: 400;
}

.header .header__container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header .header__logo {
  display: block;
  margin: 0 auto;
}

.header .header__logo-img {
  width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .header {
    background-size: 275px auto;
  }
  .header .header__wrapper {
    padding-top: 28px;
    padding-bottom: 276px;
  }
  .header .header__container {
    margin: 0 auto;
    padding: 0 40px;
    min-width: 240px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .header__logo {
    width: 50px;
    height: 22px;
  }
  .header .header__title {
    margin-top: 6px;
    margin-bottom: 17px;
    font-size: 36px;
    line-height: 42px;
  }
  .header .header__content {
    margin-top: 53px;
  }
  .header .header__social {
    display: none;
  }
  .header .header__btn {
    margin-top: 35px;
  }
}

@media (min-width: 768px) {
  .header {
    background-image: url("../images/header-cat-tablet@2x.png");
    background-size: 651px auto;
    background-position: right 0px bottom 0;
  }
  .header .header__wrapper {
    padding: 26px 43px 39px;
  }
  .header .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header .header__logo {
    width: 56px;
    height: 28px;
  }
  .header .header__content {
    margin-top: 90px;
    max-width: 340px;
    text-align: left;
  }
  .header .header__title {
    margin-top: 19px;
    margin-left: -2px;
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    line-height: 60px;
  }
  .header .header__description {
    margin-top: 19px;
    max-width: 265px;
  }
  .header .header__btn {
    margin-top: 49px;
  }
  .header .header__social {
    display: block;
    margin-top: 49px;
    max-width: 58px;
    margin-left: -2px;
  }
  .header .header__icon {
    fill: white;
  }
  .header .header__icon:last-of-type {
    margin-right: 0;
  }
  .header .header__icon_vk {
    width: 13px;
    height: 8.15px;
  }
  .header .header__icon_tw {
    width: 15.08px;
    height: 10.59px;
  }
  .header .header__icon_fb {
    width: 5.08px;
    height: 11.1px;
  }
}

.title {
  font-family: 'Yeseva One', cursive;
  font-weight: normal;
  color: #ffffff;
}

.btn {
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  text-align: center;
}

@media (max-width: 767px) {
  .btn {
    min-width: 141px;
    min-height: 40px;
    padding: 12px;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
  }
}

@media (min-width: 768px) {
  .btn {
    min-width: 200px;
    padding: 17px;
    min-height: 53px;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
  }
}

.btn_ghost {
  border: 0.5px solid #A07B50;
  text-decoration: none;
  color: #ffffff;
}

.section__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .section__wrapper {
    padding-top: 54px;
    padding-bottom: 60px;
  }
}

.section_light {
  background-color: #1F1C1D;
}

.section__title {
  margin: 0 auto;
}

@media (max-width: 767px) {
  .section__title {
    font-size: 28px;
    line-height: 32px;
  }
  .section__description {
    margin: 24px auto 0;
  }
}

@media (min-width: 768px) {
  .section__title {
    font-size: 36px;
    line-height: 42px;
  }
  .section__description {
    margin: 22px auto 0;
  }
}

.pets {
  padding-bottom: 0;
}

.pets .pets__menu {
  max-width: 80%;
}

@media (max-width: 767px) {
  .pets .pets__slide {
    width: 80.689%;
    height: 83.125vw;
  }
  .pets .pets__btn-prev,
  .pets .pets__btn-next {
    top: 50.5%;
  }
  .pets .pets__btn-prev {
    left: -1px;
  }
  .pets .pets__btn-next {
    right: -1px;
  }
  .pets .pets__btn {
    margin-top: 40px;
  }
}

@media (min-width: 767px) {
  .pets .pets__slide {
    width: 474px;
    height: 494px;
  }
  .pets .slider__image {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .pets .pets__btn-prev,
  .pets .pets__btn-next {
    top: 47.5%;
  }
  .pets .pets__btn-prev {
    left: -118px;
  }
  .pets .pets__btn-next {
    right: -118px;
  }
  .pets .pets__btn {
    margin-top: 55px;
  }
}

@media (max-width: 767px) {
  .pets__menu {
    margin-top: 31px;
  }
  .pets__slider {
    margin-top: 15px;
  }
}

@media (min-width: 768px) {
  .pets__wrapper {
    padding-top: 100px;
  }
  .pets__description {
    max-width: 520px;
    line-height: 26px;
  }
  .pets__menu {
    margin-top: 43px;
  }
  .pets__slider {
    margin-top: 37px;
  }
}

.menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu .menu__link {
  font-family: Roboto;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.2);
}

.menu .menu__link_active {
  color: white;
}

@media (max-width: 767px) {
  .menu {
    min-width: 234px;
  }
  .menu__link {
    font-size: 16px;
    line-height: 19px;
  }
}

@media (min-width: 768px) {
  .menu {
    min-width: 250px;
  }
  .menu__link {
    font-size: 18px;
    line-height: 21px;
  }
}

.slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.slider__slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
}

.slider__image {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  overflow: hidden;
}

.slider__btn {
  z-index: 10;
  background-color: transparent;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  .slider__btn {
    width: 10px;
    height: 20px;
  }
}

@media (min-width: 768px) {
  .slider__btn {
    width: 12px;
    height: 30px;
    background-size: cover;
  }
}

.slider__btn_prev,
.slider__btn_next {
  position: absolute;
  display: block;
}

.slider__btn_prev {
  left: -1px;
  background-image: url("../images/svg/arrow-prev.svg");
}

.slider__btn_next {
  right: -1px;
  background-image: url("../images/svg/arrow-next.svg");
}

@media (min-width: 767px) {
  .slide-description__title {
    font-size: 18px;
    line-height: 21px;
  }
}

@media (min-width: 768px) {
  .slide-description__title {
    font-size: 24px;
    line-height: 28px;
  }
}

.breed-features .breed-features__image {
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

.breed-features .breed-features__image > img {
  max-width: 100%;
  height: auto;
}

.breed-features .breed-features__image::before {
  content: "";
  position: absolute;
  z-index: -2;
  background-color: #151313;
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.breed-features .breed-features__image::after {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  border: 0.5px solid #A07B50;
}

@media (max-width: 767px) {
  .breed-features .breed-features__description {
    margin-bottom: 26px;
    width: 96%;
  }
  .breed-features .breed-features__image {
    width: 267px;
    margin-bottom: 49px;
  }
  .breed-features .breed-features__image::before {
    top: 50px;
    left: 19px;
    width: 230px;
    height: 230px;
  }
  .breed-features .breed-features__image::after {
    width: 280px;
    height: 280px;
    left: -7px;
    top: 25px;
  }
}

@media (min-width: 768px) {
  .breed-features .breed-features__wrapper {
    padding-top: 91px;
    padding-bottom: 115px;
    position: relative;
  }
  .breed-features .breed-features__description {
    margin-bottom: 48px;
    width: 62%;
    line-height: 26px;
  }
  .breed-features .breed-features__image {
    width: 459px;
    padding-left: 43px;
  }
  .breed-features .breed-features__image::before {
    top: 70px;
    left: 63px;
    width: 342px;
    height: 349px;
  }
  .breed-features .breed-features__image::after {
    top: 32px;
    left: 26px;
    width: 416px;
    height: 425px;
  }
}

.features-list {
  list-style: none;
}

.features-list .features-list__item {
  position: relative;
  color: white;
}

.features-list .features-list__item::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: #A07B50;
}

.features-list .features-list__item:last-child {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .features-list .features-list__item {
    margin: 0 18px 22px;
    text-align: left;
  }
  .features-list__item::before {
    top: 4px;
    left: -18px;
    width: 8px;
    height: 8px;
  }
  .features-list__item:nth-child(2n) {
    width: 165px;
  }
}

@media (min-width: 768px) {
  .features-list {
    position: absolute;
  }
  .features-list .features-list__item {
    position: absolute;
    text-align: left;
  }
  .features-list .features-list__item_friendly,
  .features-list .features-list__item_lynx {
    text-align: right;
  }
  .features-list .features-list__item:not(.features-list__item_friendly) {
    font-size: 16px;
  }
  .features-list .features-list__item::before {
    width: 10px;
    height: 10px;
  }
  .features-list .features-list__item_friendly {
    top: -1px;
    left: -360px;
    max-width: 168px;
    font-size: 14px;
    line-height: 21px;
  }
  .features-list .features-list__item_friendly::before {
    top: 5px;
    right: -25px;
  }
  .features-list .features-list__item_trained {
    top: 71px;
    left: 227px;
    max-width: 132px;
    line-height: 25px;
  }
  .features-list .features-list__item_trained::before {
    top: 4px;
    left: -23px;
  }
  .features-list .features-list__item_weight {
    top: 219px;
    right: -318px;
    max-width: 116px;
    line-height: 23px;
  }
  .features-list .features-list__item_weight::before {
    top: 5px;
    left: -22px;
  }
  .features-list .features-list__item_lynx {
    top: 191px;
    left: -341px;
    max-width: 138px;
    line-height: 23px;
  }
  .features-list .features-list__item_lynx::before {
    top: 5px;
    right: -21px;
  }
}

.advantages .advantages__icon-consultancy {
  margin-top: 48px;
}

.advantages-list {
  list-style: none;
}

.advantages-list__item {
  background-color: #1F1C1D;
  text-align: center;
}

.advantages-list__item_active {
  background-color: #A07B50;
}

.advantages-list__link {
  color: white;
}

.advantages-list__text {
  margin: 0 auto;
}

@media (max-width: 767px) {
  .advantages-list__item {
    margin-bottom: 30px;
    min-height: 248px;
    width: 290px;
    border: 15px solid #1F1C1D;
  }
  .advantages__title {
    max-width: 230px;
  }
  .advantages__description {
    margin-bottom: 36px;
  }
  .advantages-list__icon {
    margin-top: 41px;
    margin-bottom: 11px;
  }
  .advantages-list__text {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .advantages .advantages__wrapper {
    padding-top: 85px;
    padding-bottom: 55px;
  }
  .advantages .advantages__title {
    max-width: 390px;
  }
  .advantages .advantages__description {
    margin-bottom: 59px;
    max-width: 430px;
  }
  .advantages .advantages-list__item {
    margin-bottom: 45px;
    min-height: 308px;
    width: 360px;
    border-left: 20px solid #1F1C1D;
    border-right: 20px solid #1F1C1D;
    border-top: 18px solid #1F1C1D;
    border-bottom: 18px solid #1F1C1D;
  }
  .advantages .advantages-list__icon_active {
    stroke: #A07B50;
  }
  .advantages .advantages-list__icon {
    line-height: 26px;
    stroke-width: 1.5;
    stroke: #1F1C1D;
  }
  .advantages .advantages__icon-veterinary-service {
    width: 98px;
    height: 109px;
    margin-top: 47px;
    margin-bottom: 29px;
  }
  .advantages .advantages__icon-consultancy {
    width: 107px;
    height: 97px;
    margin-top: 50px;
    margin-bottom: 37px;
  }
  .advantages .advantages__icon-nutrition {
    width: 70px;
    height: 110px;
    margin-top: 47px;
    margin-bottom: 28px;
    stroke: #1F1C1D;
  }
  .advantages .advantages-list__text {
    width: 77%;
  }
}

.care {
  background-size: cover;
}

.care .care-list {
  list-style: none;
}

.care .care-list__link {
  position: relative;
  display: block;
  border: 0.5px solid #A07B50;
  text-align: left;
  background: rgba(0, 0, 0, 0.3);
}

.care .care-list__link::after {
  content: "";
  position: absolute;
  display: block;
  top: 0px;
  right: 0px;
  height: 100%;
  background-color: #A07B50;
  border-left: 1px solid #a07b50;
  background-image: url("../images/svg/arrowDetails.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.care .care-list__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  color: #A07B50;
}

.care .care-list__content {
  color: white;
}

@media (max-width: 767px) {
  .care {
    background-image: url("../images/care-section-mobile@2x.png");
  }
  .care .care__title {
    max-width: 80%;
    margin-bottom: 33px;
  }
  .care .care-list__item {
    max-width: 558px;
  }
  .care .care-list__link {
    margin-bottom: 30px;
    padding: 20px 18% 21px 25px;
  }
  .care .care-list__link::after {
    width: 15.8%;
  }
  .care .care-list__title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 12px;
  }
}

@media (min-width: 768px) {
  .care {
    background-image: url("../images/care-section-tablet@2x.png");
  }
  .care .care__wrapper {
    padding-top: 90px;
    padding-bottom: 76px;
  }
  .care .care__title {
    max-width: 65%;
    margin-bottom: 38px;
  }
  .care-list {
    width: 78.15%;
  }
  .care-list .care-list__item {
    min-width: 558px;
    margin-bottom: 24px;
  }
  .care-list .care-list__link {
    padding: 38px 21% 21px 48px;
    min-height: 168px;
  }
  .care-list .care-list__link::after {
    width: 10.5%;
  }
  .care-list .care-list__title {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 10px;
  }
  .care-list .care-list__content {
    font-size: 14px;
    line-height: 23px;
  }
}

.slide-description__title {
  font-style: normal;
  font-weight: 500;
}

.slide-description__content {
  color: rgba(255, 255, 255, 0.72);
}

.team .team__slider {
  position: relative;
}

.team .team__icon {
  fill: white;
}

@media (max-width: 767px) {
  .team .team__description {
    width: 90%;
  }
  .team .team__slider {
    margin-top: 30px;
    position: relative;
  }
  .team .team__slide {
    width: 50%;
    height: 44vw;
  }
  .team .team__btn_prev,
  .team .team__btn_next {
    top: 42.5%;
  }
  .team .team__btn_prev {
    left: 11.712vw;
  }
  .team .team__btn_next {
    right: 11.712vw;
  }
  .team .team__item-wrapper {
    margin-top: -65px;
    padding-top: 65px;
    padding-bottom: 15px;
    background-color: #1F1C1D;
  }
  .team .team__item-title {
    margin-top: 13px;
    margin-bottom: 4px;
    font-weight: bold;
  }
  .team .team__item-jobTitle {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 135.94%;
  }
  .team .team__item-content {
    margin-top: 17px;
    padding: 0 11px;
    color: rgba(255, 255, 255, 0.72);
  }
  .team .team__social {
    margin-top: 24px;
  }
}

@media (min-width: 768px) {
  .team .team__wrapper {
    padding-top: 80px;
    padding-bottom: 194px;
  }
  .team .team__content-wrapper {
    position: relative;
    margin-top: 26px;
    padding-right: 30px;
  }
  .team .team__description {
    width: 70%;
  }
  .team .team__slider {
    position: absolute;
    bottom: -96px;
    left: 403px;
  }
  .team .team__slider .team__btn_prev,
  .team .team__slider .team__btn_next {
    bottom: 0px;
  }
  .team .team__slider .team__btn_prev {
    left: -41px;
  }
  .team .team__slider .team__btn_next {
    right: -41px;
  }
  .team .team__slide {
    width: 208px;
    height: 210px;
  }
  .team .team__image {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .team .team__item-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 90.8%;
    min-width: 649px;
    padding: 22px;
    border: 0.5px solid rgba(160, 123, 80, 0.43);
  }
  .team .team__item-inner {
    width: 100%;
    padding: 72px 95px 68px 109px;
    background-color: #1F1C1D;
    text-align: left;
  }
  .team .team__item-title {
    margin-bottom: 5px;
  }
  .team .team__item-jobTitle {
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
  }
  .team .team__item-content {
    margin-top: 23px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.72);
  }
  .team .team__social {
    margin-top: 45px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .team .team__icon_fb {
    width: 7px;
    height: 15px;
  }
  .team .team__icon_tw {
    width: 20px;
    height: 14px;
  }
  .team .team__icon_vk {
    width: 21px;
    height: 13px;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
  list-style: none;
}

.social .social__item {
  display: inline-block;
  margin-right: 8px;
}

.social .social__item .social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.social .social__item .social__link span {
  font-size: 0;
}

.social .social__item:last-of-type {
  margin-right: 0;
}

.faq .faq__question {
  position: relative;
  display: block;
  font-weight: bold;
}

.faq .faq__question::-webkit-details-marker {
  display: none;
}

.faq .faq__question::after,
.faq .faq__question_open::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.faq .faq__question::after {
  border: 0;
  border-left: 0.5px solid #A07B50;
  background-image: url("../images/svg/closedQuestion.svg");
}

.faq .faq__question_open::after {
  background-color: #A07B50;
  background-image: url("../images/svg/openedQuestion.svg");
}

.faq .faq__question,
.faq .faq__answer {
  border: 0.5px solid #A07B50;
  color: #DDD0C3;
  text-align: left;
}

.faq .faq__item:last-of-type {
  margin-bottom: 0px;
}

@media (max-width: 767px) {
  .faq .faq__description {
    max-width: 190px;
  }
  .faq .faq__list {
    margin-top: 36px;
  }
  .faq .faq__item {
    margin-bottom: 30px;
  }
  .faq .faq__question {
    padding: 10px 17px 11px 15px;
  }
  .faq .faq__question::after,
  .faq .faq__question_open::after {
    width: 14.7%;
  }
  .faq .faq__question-text {
    max-width: 90%;
  }
  .faq .faq__answer {
    border-top: none;
    padding: 10px 17px 12px 15px;
  }
  .faq .faq__paragraph {
    margin-bottom: 15px;
  }
  .faq .faq__paragraph:last-of-type {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .faq .faq__wrapper {
    padding-top: 137px;
  }
  .faq .faq__description {
    min-width: 500px;
    margin-top: 19px;
  }
  .faq .faq__list {
    margin-top: 53px;
    padding-left: 111px;
    width: 93%;
    counter-reset: faqItemCount;
  }
  .faq .faq__item {
    margin-bottom: 23px;
    position: relative;
    counter-increment: faqItemCount;
  }
  .faq .faq__item::before {
    position: absolute;
    content: "0" counter(faqItemCount);
    top: 11px;
    left: -79px;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    color: #A07B50;
  }
  .faq .faq__question {
    padding: 17px 73px 16px 27px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    min-height: 77px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .faq .faq__question::after,
  .faq .faq__question_open::after {
    width: 12.7%;
  }
  .faq .faq__question-text {
    max-width: 90%;
  }
  .faq .faq__answer {
    border-top: none;
    padding: 26px 73px 25px 29px;
    font-weight: 300;
    font-size: 16px;
    line-height: 154%;
  }
  .faq .faq__paragraph {
    max-width: 85%;
    margin-bottom: 28px;
  }
  .faq .faq__paragraph:last-of-type {
    margin-bottom: 0;
  }
}

.reviews .reviews__slider {
  position: relative;
}

.reviews .reviews__slide {
  width: 100%;
}

.reviews .reviews__item_wrapper {
  background-color: #181617;
}

@media (max-width: 767px) {
  .reviews {
    padding-bottom: 0px;
  }
  .reviews .reviews__wrapper {
    padding-top: 0;
  }
  .reviews .reviews__slider {
    margin-top: 53px;
  }
  .reviews .reviews__slide {
    max-width: 75.625vw;
  }
  .reviews .reviews__item_wrapper {
    padding: 85px 30px 40px;
    margin-top: -85px;
  }
  .reviews .reviews__item-title {
    margin-top: 31px;
    color: white;
  }
  .reviews .reviews__item-content {
    margin-top: 17px;
  }
  .reviews .reviews__btn-next {
    right: -25px;
  }
  .reviews .reviews__btn-prev {
    left: -25px;
  }
  .reviews .reviews__footer {
    margin: 23px auto 0;
  }
  .reviews .reviews__content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .reviews .reviews__date {
    display: inline-block;
    margin-right: 39px;
    font-size: 12px;
    line-height: 2.5;
  }
  .reviews .reviews__social {
    display: inline-block;
  }
  .reviews .reviews__social-item {
    margin-right: 12px;
  }
  .reviews .reviews__social-item:last-of-type {
    margin-right: 0;
  }
  .reviews .reviews__social-link {
    border: 0.5px solid rgba(160, 123, 80, 0.27);
    width: 28px;
    height: 28px;
  }
  .reviews .reviews__icon {
    fill: #a07b50;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .reviews .reviews__wrapper {
    padding-top: 71px;
    padding-bottom: 87px;
  }
  .reviews .reviews__slider {
    margin-top: 45px;
  }
}

.footer {
  padding: 35px 28px;
}

.footer .footer__address {
  margin-bottom: 11px;
  color: #D6CCC2;
}

.footer .footer__phone {
  color: #FDF2E6;
}

.footer .footer__social {
  margin-top: 18px;
  margin-bottom: 23px;
}

.footer .footer__icon {
  fill: #a07b50;
}

.footer .footer__social-item {
  margin-right: 20px;
}

.footer .footer__social-item:last-of-type {
  margin-right: 0;
}
/*# sourceMappingURL=style.css.map */