@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import "_reset";

@mixin arrow($deg) {
  width: 12px;
  height: 12px;
  border: solid #A07B50;
  border-width: 0 1px 1px 0;
  padding: 1px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate($deg);
  -webkit-transform: rotate($deg);
  /* Для Safari, Chrome, iOS */
  -moz-transform: rotate(1$deg);
  /* Для Firefox */
  -ms-transform: rotate($deg);
  /* Для IE */
  -o-transform: rotate($deg);
  /* Для Opera */
}

%left-arrow {
  @include arrow(135deg);
}

%right-arrow {
  @include arrow(-45deg);
}

$x-light-black: #151313;
$x-dark-gray: #181617;
$x-gray: #1F1C1D;

$primary-color: $x-light-black;
$secondary-color: $x-gray;
$teriary-color: $x-dark-gray;


.page {
  background-color: $primary-color;
  font-family: "Roboto",
    "Arial",
    sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  color: #A07B50; //TODO: сделать белый основным цветом
  text-align: center;
}

.container {
  padding: 0 15px;
}


.header {
  background-color: $teriary-color;
  background-image: url("../images/header-cat-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  font-weight: 400;

  .header__container {
    margin: 0 auto;
    padding: 0 40px;
    min-width: 240px;
  }

  .header__wrapper {
    padding-top: 28px;
    padding-bottom: 276px;
  }

  .header__city {
    margin-top: 53px;
  }

  .header__title {
    margin-top: 6px;
    margin-bottom: 17px;
    font-size: 36px;
    line-height: 42px;
  }

  .header__btn {
    margin-top: 35px;
  }
}


.title {
  font-family: 'Yeseva One', cursive;
  font-weight: normal;
  color: #ffffff;
}


.btn {
  display: inline-block;
  min-width: 141px;
  min-height: 40px;
  padding: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
}

.btn_ghost {
  border: 0.5px solid #A07B50;
  text-decoration: none;
  color: #ffffff;
}


.section__wrapper {
  padding-top: 54px;
  padding-bottom: 60px;
}

.section_light {
  background-color: $secondary-color;
}

.section__title {
  font-size: 28px;
  line-height: 32px;
  margin: 0 auto;
}

.section__description {
  margin-top: 24px;
  margin: 24px auto 0;
}



.pets {
  padding-bottom: 0;

  .pets__menu {
    margin-top: 31px;
  }

  .pets__slider {
    margin-top: 35px;
  }

  .pet-section__btn {
    margin-top: 40px;
  }
}

.menu {
  list-style: none;

  .menu__item {
    display: inline-block;
    margin: 0 21px;
  }

  .menu__item:first-child {
    margin-left: 0;
  }

  .menu__item:last-child {
    margin-right: 0;
  }

  .menu__link {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.2);
  }

  .menu__link_active {
    color: rgba(255, 255, 255, 1);
  }
}


.slider__content {
  position: relative;
  margin: 0 auto;
  width: 80%;
  min-height: 248px;
  filter: drop-shadow(0px 0px 30px rgba(3, 3, 3, 0.15));
  background-image: url('../images/image.png');
  background-repeat: no-repeat;
  background-position: center;
  background-clip: content-box;
}

.slider__content::before {
  content: "";
  position: absolute;
  left: -27px;
  top: 47.5%;
  @extend %left-arrow;
}

.slider__content::after {
  content: "";
  position: absolute;
  right: -27px;
  top: 47.5%;
  @extend %right-arrow;
}


.breed-features {
  .breed-features__description {
    margin-bottom: 26px;
    width: 96%;
  }

  .breed-features__image {
    position: relative;
    z-index: 1;
    width: 267px;
    margin: 0 auto;
    margin-bottom: 49px;
  }

  .breed-features__image>img {
    //убрать | переименовать | переместить в reset?
    max-width: 100%;
    height: auto;
  }

  .breed-features__image::before {
    content: "";
    position: absolute;
    z-index: -2;
    top: 50px;
    left: 19px;
    width: 230px;
    height: 230px;
    background-color: $primary-color;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .breed-features__image::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    border: 0.5px solid #A07B50;
    left: -7px;
    top: 25px;
  }
}


.features-list {
  list-style: none;

  .features-list__item {
    position: relative;
    margin: 0 18px 22px;

    text-align: left;
    color: white;
  }

  .features-list__item::before {
    content: "";
    position: absolute;
    top: 4px;
    left: -18px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #A07B50;
  }

  .features-list__item:last-child {
    margin-bottom: 0;
  }

  .features-list__item:nth-child(2n) {
    width: 165px;
  }
}


.advantages {
  .advantages__title {
    max-width: 230px;
  }

  .advantages__description {
    margin-bottom: 36px;
  }

  .advantages__icon-consultancy {
    margin-top: 48px;
  }
}

.advantages-list {
  list-style: none;
}

.advantages-list__item {
  margin-bottom: 30px;
  min-height: 248px;
  background-color: $secondary-color;
  border: 15px solid $secondary-color;
  text-align: center;
}

.advantages-list__link {
  color: white;
}

.advantages-list__item_active {
  background-color: #A07B50;
}

.advantages-list__icon {
  margin-top: 41px;
  margin-bottom: 11px;
}

.advantages-list__text {
  width: 80%;
  margin: 0 auto;
}


.care {
  background-image: url("../images/care-section-mobile@2x.png");
  background-size: cover;

  .care__title {
    width: 80%;
    margin-bottom: 33px;
  }

  .care-list {
    list-style: none;
  }

  .care-list__link {
    position: relative;
    display: block;
    margin-bottom: 30px;
    border: 0.5px solid #A07B50;
    padding: 20px 18% 21px 25px;
    text-align: left;
    background: rgba(0, 0, 0, 0.3);
  }

  .care-list__link::after {
    content: "";
    position: absolute;
    display: block;
    top: 0px;
    right: 0px;
    width: 15.8%;
    height: 100%;

    background-color: #A07B50;
    border-left: 1px solid #a07b50;
    background-image: url("../images/svg/arrowDetails.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .care-list__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 12px;

    color: #A07B50;
  }

  .care-list__content {
    color: white;
  }
}


.slider {

  .slider__item-title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }

  .slider__item-content {
    color: rgba(255, 255, 255, 0.72); //общее
  }

  .slider__photo::before {
    content: "";
    position: absolute;
    top: 45.5%;
    @extend %left-arrow;
  }

  .slider__photo::after {
    content: "";
    position: absolute;
    top: 45.5%;
    @extend %right-arrow;
  }

}


.team {
  .team__title {
    margin-bottom: 25px;
  }

  .team__description {
    width: 90%;
  }

  .team__slider {
    margin-top: 35px;
    position: relative;
  }

  .team__photo {
    position: relative;

    img {
      text-align: center;
    }
  }

  .team__photo::before {
    left: 60px;
  }

  .team__photo::after {
    right: 60px;
  }

  .team__item {
    padding-top: 65px;
    padding-bottom: 15px;
    margin-top: -65px;
    background-color: $secondary-color;
  }

  .team__item-title {
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .team__item-jobTitle {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 135.94%;
  }

  .team__item-content {
    margin-top: 17px;
    color: rgba(255, 255, 255, 0.72);
  }

  .team__social {
    margin-top: 24px;
  }

  .team__icon {
    fill: white;
  }
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  list-style: none;

  .social__item {
    display: inline-block;
    min-width: 18px;
    margin-right: 6px;

    .social__link {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .social__link span {
      font-size: 0;
    }
  }
}

.social:last-child {
  margin-right: 0;
}


.faq {
  .faq__description {
    max-width: 190px;
  }

  .faq__list {
    margin-top: 36px;

    .faq__item {
      margin-bottom: 30px;
    }

    .faq__item:last-of-type {
      margin-bottom: 0px;
    }
  }

  .faq__question {
    position: relative;
    display: block;
    font-weight: bold;
    padding: 10px 17px 11px 15px;
  }

  .faq__question::-webkit-details-marker {
    display: none;
  }

  .faq__question::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 14.7%;
    height: 100%;
    background-image: url("../images/svg/closedQuestion.svg");
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    border-left: 0.5px solid #A07B50;
  }

  .faq__question_open::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 14.7%;
    height: 100%;
    background-color: #A07B50;
    background-image: url("../images/svg/openedQuestion.svg");
  }

  .faq__question-text {
    max-width: 90%;
  }

  .faq__question,
  .faq__answer {
    border: 0.5px solid #A07B50; //#544332;
    color: #DDD0C3;
    text-align: left;
  }

  .faq__answer {
    border-top: none;
    padding: 10px 17px 12px 15px;
  }

  .faq__paragraph {
    margin-bottom: 15px;
  }

  .faq__paragraph:last-of-type {
    margin-bottom: 0;
  }
}


.reviews {

  .reviews__slider {
    margin-top: 53px;
    position: relative; //перенести в класс слайдера
  }

  .reviews__photo {
    position: relative;

    img {
      text-align: center;
    }
  }

  .reviews__photo::before {
    left: 2px;
  }

  .reviews__photo::after {
    right: 2px;
  }

  .reviews__item {
    padding: 85px 30px 40px;
    margin-top: -85px;
    background-color: $teriary-color;
  }

  .reviews__item-title {
    margin-top: 31px;
    color: white;
  }

  .reviews__item-content {
    margin-top: 17px;
  }

  .reviews__footer {
    margin: 22px auto 0;
  }

  .reviews__content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .reviews__date {
    display: inline-block;
    margin-right: 39px;
    font-size: 12px;
    line-height: 2.5;
  }

  .reviews__social {
    display: inline-block;
  }

  .reviews__social-item {
    margin-right: 12px;
  }

  .reviews__social-item:last-of-type {
    margin-right: 0;
  }

  .reviews__social-link {
    border: 0.5px solid rgba(160, 123, 80, 0.27);
    width: 28px;
    height: 28px;
  }

  .reviews__icon {
    fill: #a07b50;
    margin: 0 auto;
  }

}


.footer {
  padding: 35px 28px;

  .footer__address {
    margin-bottom: 11px;
    color: #D6CCC2;
  }

  .footer__phone {
    color: #FDF2E6;
  }

  .footer__social {
    margin-top: 18px;
    margin-bottom: 23px;
  }

  .footer__icon {
    fill: #a07b50;
  }

  .footer__social-item {
    margin-right: 20px;
  }

  .footer__social-item:last-of-type {
    margin-right: 0;
  }
}