@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import "_reset";

@mixin arrow($deg) {
  width: 12px;
  height: 12px;
  border: solid #A07B50;
  border-width: 0 1px 1px 0;
  padding: 1px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate($deg);
  -webkit-transform: rotate($deg);  /* Для Safari, Chrome, iOS */
  -moz-transform: rotate(1$deg); /* Для Firefox */
  -ms-transform: rotate($deg); /* Для IE */
  -o-transform: rotate($deg); /* Для Opera */   
}

%left-arrow {
  @include arrow(135deg);
}

%right-arrow {
  @include arrow(-45deg);
}


body {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  color: #A07B50;
  text-align: center;
}

.page-header {
  padding-top: 28px;
  padding-bottom: 276px;
  text-align: center;
  font-weight: 400;
  background-color:  #181617;
  background-image: url("../images/header-cat-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: right  bottom;

  .container {
    min-width: 240px; //75%
    margin: 0 auto;
    padding: 0 40px;
  }

  .page-header__city {
    margin-top: 53px;
  }

  .page-header__title {
    text-align: center;
    margin-top: 6px;
    margin-bottom: 17px;
    font-size: 36px;
    line-height: 42px;
  }

  .page-header__btn {
    margin-top: 35px;
  }
}

.page-header__title , .section-header__title {
    font-family: 'Yeseva One', cursive;
    font-weight: normal;
    color: #ffffff;
}

.section-header__title {
  font-size: 28px;
  line-height: 32px;
}

.ghost-btn {
  display: inline-block;
  min-width: 141px;
  min-height: 40px;
  padding: 12px;
  border: 0.5px solid #A07B50;
  text-decoration: none;
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
}


.pet-section {
  padding-top: 54px;
  background-color: #1F1C1D;

  .container {
    min-width: 290px;
    margin: 0 auto;
    padding: 0 15px;

    .section-header__description {
      margin-top: 24px;
    }

    .gallery__menu {
      margin-top: 31px;

      .gallery__menu-item {
        margin: 0 21px;
        font-family: Roboto;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;  
        color: rgba(255, 255, 255, 0.2);

        &.gallery__menu-item_active {
          color: rgba(255, 255, 255, 1);
        }

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .pet-section__slider { 
      margin-top: 35px;

      .slider__content {
        position: relative;
        margin: 0 auto;
        width: 80%;
        min-height: 248px;
        filter: drop-shadow(0px 0px 30px rgba(3, 3, 3, 0.15));
        //сделать миксин
        background-image: url('../images/image.png');
        background-repeat: no-repeat;
        background-position: center;
        background-clip: content-box;

        &::before {
          content: "";
          position: absolute;
          left: -27px;
          top: 47.5%;
          @extend %left-arrow;
        }

        &::after {
          content: "";
          position: absolute;
          right: -27px;
          top: 47.5%;
          @extend %right-arrow;
        }
      }
    }

    .pet-section__btn {
      margin-top: 40px;
    }
  }
}


.breed-section {
  background-color: #1F1C1D;
  padding-bottom: 60px;
  padding-top: 54px;

  .container {
    padding: 0 15px;

    .section-header__description {         
      margin: 24px auto 26px;
      width: 96%;
    }

    .breed-section__image {
        position: relative;
        z-index: 1;
        width: 267px;
        margin: 0 auto;
        margin-bottom: 45px;       
    
      
        & > img {
          max-width: 100%;
          height: auto;
          margin-bottom: 45px;
        }

        &::before {
          content: "";
          position: absolute;
          z-index: -2;
          top: 50px;
          left: 19px;
          width: 230px;
          height: 230px;
          background-color: #151313;
          border-radius: 50%;   
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        &::after {
          content: "";
          position: absolute;
          z-index: -1;
          width: 280px;
          height: 280px;
          border-radius: 50%;
          border: 0.5px solid #A07B50;
          left: -7px;
          top: 25px;
        }
    }
  }
}


.features-list {
  margin-top: 40px;
  list-style: none;

  .features-list__item {
    position: relative;
    margin-left: 8px;
    margin-bottom: 30px;
    text-align: left;
    color: white;

    &::before {
      content: "";
      position: absolute;
      top: 4px;
      left: -18px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color:#A07B50;
    }
  }

  &:last-child {
    margin-bottom : 0;
  }
}
